@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.loader {
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background: #fffff9;
}

#cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 1000;
}

#cursor.active {
  transform: scale(2);
  background-color: rgba(0, 0, 0, 0.8);
}

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
.bitter-font {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  /* font-weight: 900; */
  font-style: normal;
}


@layer components {
  .works_li:hover .works_img img {
    @apply transform scale-110;
  }
  .works_li:hover .works_img > div {
    @apply opacity-50;
  }
}


@layer components {
  .text-shadow {
    text-shadow:
      1px 1px 0px #e0e0e0,
     -1px 1px 0px #e0e0e0,
      1px -1px 0px #e0e0e0,
     -1px -1px 0px #e0e0e0,
      1px 0px 0px #e0e0e0,
      0px 1px 0px #e0e0e0,
     -1px 0px 0px #e0e0e0,
      0px -1px 0px #e0e0e0;
  }
}




#contact h2 {
  font-size: 4rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing : 2px;
  text-shadow: 
  1px 1px 0 #fffff9, 2px 2px 0 rgba(0, 0, 0, 0.8);
}


.copyright {
  position: fixed;
  font-size: 1rem;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  bottom: 32px;
  left: 55px;
  text-align: left;
}

/* スマホ表示時のコピーライト固定 */
@media (max-width: 640px) {
  .copyright {
    position: fixed;
    font-size: 1rem;
    transform: none;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: white; /* 必要に応じて背景色を調整 */
    padding: 10px 0;
    z-index: 1000; /* 他の要素よりも前面に表示されるようにする */
  }
}